* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* general styles */

body {
    background-color: cadetblue;
}


/* utility classes */

.clear {
    clear: both;
}

.float {
    float: left;
}


/* scrollbar */


/* width */

::-webkit-scrollbar {
    width: 1.5em;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #68967c;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(99, 9, 9);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(21, 7, 146);
}


/* header */

header {
    width: 100%;
    background: rgb(41, 133, 145);
    background: linear-gradient(0deg, rgba(41, 133, 145, 1) 0%, rgba(91, 148, 168, 1) 100%);
    box-shadow: 1px 1px 2px rgb(4, 58, 59);
}

header div {
    padding: 5vh 0 1vh 55vw;
}

header div i {
    color: darkred;
    text-shadow: 1px 1px 2px rgb(78, 3, 3);
    font-size: 6em;
    padding-right: 0.1em;
}

header div h1 {
    color: darkred;
    text-shadow: 1px 1px 2px rgb(78, 3, 3);
    font-size: 5em;
    letter-spacing: -0.1em;
    padding-top: 0.1em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}


/* navigation */

nav ul li {
    float: left;
    list-style: none;
    margin-top: 3em;
    padding-top: 2em;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: rgb(243, 235, 233);
    font-size: 1.8em;
    line-height: 2em;
    padding-left: 1.5em;
    word-spacing: -0.15em;
    text-transform: uppercase;
    font-family: sans-serif;
}


/* images */

img {
    max-width: 50%;
    max-height: auto;
    border-radius: 100%;
    margin: 1.5em;
    box-shadow: 1px 1px 2px rgb(4, 58, 59);
}


/* main content */

.main__upper-content-container {
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    padding: 0 5vw 0 5vw;
}

main div h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    color: rgb(253, 251, 253);
    text-align: center;
    padding-bottom: 1em;
}

main div article {
    width: 66.66%;
    float: left;
    overflow-y: scroll;
    max-height: 60vh;
    margin-top: 8em;
    padding: 2em 4em;
    background-color: rgba(43, 126, 119, 0.253);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(4, 58, 59);
}

main div article p {
    font-size: 1.6em;
    color: rgb(243, 233, 233);
    line-height: 1.5em;
    padding-bottom: 1em;
}

.article__h2 {
    font-size: 5em;
    color: darkred;
    text-shadow: 1px 1px 2px rgb(78, 3, 3);
}

main div aside {
    width: 33.33%;
    float: right;
    margin-top: 8em;
    overflow-y: scroll;
    max-height: 60vh;
    background-color: rgba(38, 153, 145, 0.37);
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(4, 58, 59);
}

main div aside a img {
    margin-right: auto;
    margin-right: auto;
    max-width: 20%;
}

.main__lower-content-container {
    background-color: rgba(5, 43, 44, 0.767);
    padding: 20%;
    position: static;
    top: 95vh;
}

.main__lower-content-container {
    background-color: rgba(11, 74, 77, 0.842);
    padding: 20%;
    margin-left: auto;
    margin-right: auto;
}

#article__lower {
    background-color: rgba(194, 131, 107, 0.842);
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: show;
    float: none;
    height: 45vw;
    height: 45vh;
    position: relative;
    top: 10vh;
    border-radius: 100%;
}

main div h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    color: darkred;
    text-shadow: 1px 1px 2px rgb(78, 3, 3);
    padding-bottom: 1.5em;
}

figure img {
    margin-top: 20vh;
    max-width: 18%;
}


/* footer */

footer {
    padding: 5% 15%;
    width: 100%;
    background: rgb(41, 133, 145);
    background: linear-gradient(0deg, rgba(41, 133, 145, 1) 0%, rgba(91, 148, 168, 1) 100%);
    box-shadow: 1px 1px 2px rgb(4, 58, 59);
}

footer p {
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: crimson;
    letter-spacing: -0.03em;
    color: rgb(129, 64, 55);
    padding-top: 1em;
    line-height: 1.4;
}

footer p a {
    text-decoration: none;
    color: white;
    font-size: 3em;
}